*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
